<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
        }

        .top-bar {
            background-color: #f4f4f4;
            padding: 10px;
            display: flex;
            align-items: center;

        }

        .top-text {
            margin: 0 10px;
            font-size: 18px;
        }

        .top-text a {
            color: #333;
            text-decoration: none;
        }

        .top-text a:hover {
            color: #666;
        }

        .content-container {
            display: flex;
            margin-top: 20px;
            margin-right: 20px;
        }

        .button-container {
            width: 30%;

        }

        .city-button {
            display: block;
            width: 100%;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .city-button:hover {
            background-color: #f2f2f2;
        }

        .weather-info {
            width: 70%;
            border: 1px solid #ccc;
            padding: 20px;
            margin-left: 20px;
        }

        .weather-info img {
            max-width: 100px;
            height: auto;
            margin-bottom: 10px;
            margin-left: 190px;
        }

        .weather-title {
            margin-top: 1px;
        }

        .weather-details {
            width: 100%;
            border-collapse: collapse;
        }

        .weather-row {
            border-bottom: 1px solid #ccc;
        }

        .weather-row:last-child {
            border-bottom: none;
        }

        .weather-text {
            display: inline-block;
            padding: 10px;
            margin-left: 50px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="top-bar">
        <p class="top-text"><strong>WeatherInfo</strong></p>
        <p class="top-text"><a href="">Home</a></p>
        <p class="top-text"><a href="">Weather</a></p>
    </div>

    <div class="content-container">
        <div class="button-container">
            <button class="city-button">Zhytomyr</button>
            <button class="city-button">Kyiv</button>
            <button class="city-button">Poltava</button>
            <button class="city-button">Sumy</button>
        </div>

        <div class="weather-info">
            <p class="weather-title"><strong>Погода в місті {{city}}</strong></p>
            <img src="https://cdn-icons-png.flaticon.com/512/3221/3221437.png" alt="Weather Image">
            <div class="weather-details">
                <div class="weather-row">
                    <span class="weather-text">Тиск</span>
                    <span class="weather-text">{{pressure}} мм р.с</span>
                </div>
                <div class="weather-row">
                    <span class="weather-text">Вологість</span>
                    <span class="weather-text">{{humidity}}%</span>
                </div>
                <div class="weather-row">
                    <span class="weather-text">Температура</span>
                    <span class="weather-text">{{temperature}}°C</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const buttons = document.querySelectorAll('.city-button');

    buttons.forEach(button => {
        button.addEventListener('click', () => {
            const city = button.textContent.trim();
            window.location.href = `http://localhost:3000/weather/${city}`;
        });
    });
</script>
</body>
</html>